document, body {
  background: black;
  color: white;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

canvas {
  display: block;
  width: 100vw;
  height: 100vh;
  object-fit: contain;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
